.no-margin {
    margin: 0px;
    padding: 0px;
    border: 0px;
  }
  
  .name-input {
    font-size: 24px;
    width: 100%;
    height: 25%;
  }

.ability-button {
    width: 33.33%;
    vertical-align: top;
    height: 35%;
    background-color: transparent;
    image-rendering: pixelated;
}
  
  .menu-button-container {
    width: 400px;
    height: 170px;
  }
  
  .start-button {
    width: 100%;
    vertical-align: top;
    height: 45%;
    background-color: transparent;
    image-rendering: pixelated;
  }

.button-image {
    width: 100%;
    height: 100%;
    background-color: transparent;
    image-rendering: pixelated;
}